absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1751547525079/work
accelerate==1.13.0
agno==2.3.24
aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1741775197943/work
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1753804962438/work
aiohttp-cors==0.8.1
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1751626463503/work
amqp==5.3.1
annotated-doc==0.0.4
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1733247046149/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_anyio_1754315087/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1749017159514/work
argon2-cffi-bindings @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi-bindings_1753994709456/work
arrow @ file:///home/conda/feedstock_root/build_artifacts/arrow_1733584251875/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1733250440834/work
astunparse @ file:///home/conda/feedstock_root/build_artifacts/astunparse_1736248061654/work
async-lru @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_async-lru_1742153708/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1741918516150/work
babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1738490167835/work
backoff==2.2.1
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1756094236201/work
billiard==4.2.2
bitsandbytes==0.49.2
bleach @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_bleach_1737382993/work
blis @ file:///home/conda/feedstock_root/build_artifacts/cython-blis_1743735358953/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1756599151967/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
cachetools==6.2.2
catalogue @ file:///home/conda/feedstock_root/build_artifacts/catalogue_1756301961175/work
causal-learn==0.1.4.4
celery==5.5.3
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1754231422783/work/certifi
cffi==2.0.0
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1754767332901/work
clarabel==0.11.1
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudpathlib @ file:///home/conda/feedstock_root/build_artifacts/cloudpathlib-meta_1756609645761/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1736947526808/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
colorful==0.5.8
comm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_comm_1753453984/work
confection @ file:///home/conda/feedstock_root/build_artifacts/confection_1740630664356/work
contourpy==1.3.3
cryptography==46.0.3
cupy-cuda12x==13.6.0
cvxpy==1.8.1
cycler==0.12.1
cymem @ file:///home/conda/feedstock_root/build_artifacts/cymem_1756301528378/work
Cython==3.2.4
dataclasses-json==0.6.7
datasets @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_datasets_1755878391/work
debugpy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_debugpy_1758162063/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
diffusers==0.36.0
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1706434688412/work
distlib==0.4.0
distro==1.9.0
dm-tree @ file:///home/conda/feedstock_root/build_artifacts/dm-tree_1738385632158/work
docstring_parser @ file:///home/conda/feedstock_root/build_artifacts/docstring_parser_1753195641777/work
dowhy==0.14
eval_type_backport @ file:///home/conda/feedstock_root/build_artifacts/eval_type_backport_1734857727836/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1746947292760/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1756729339227/work
faiss-cpu==1.12.0
Farama-Notifications==0.0.4
fastapi==0.121.2
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-fastjsonschema_1755304154/work/dist
fastrlock==0.8.3
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1755216263872/work
flatbuffers @ file:///home/conda/feedstock_root/build_artifacts/python-flatbuffers_1739279199749/work
fonttools==4.61.1
fqdn @ file:///home/conda/feedstock_root/build_artifacts/fqdn_1733327382592/work/dist
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1752167142843/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1741403990995/work
gast @ file:///home/conda/feedstock_root/build_artifacts/gast_1733299680490/work
gitdb==4.0.12
GitPython==3.1.46
gmpy2 @ file:///home/conda/feedstock_root/build_artifacts/gmpy2_1756739574751/work
google-api-core==2.28.1
google-auth==2.43.0
google-pasta @ file:///home/conda/feedstock_root/build_artifacts/google-pasta_1733852499742/work
googleapis-common-protos==1.72.0
graphviz==0.21
greenlet==3.2.4
grpcio @ file:///home/conda/feedstock_root/build_artifacts/grpc-split_1740784437750/work
gymnasium==1.1.1
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1745526374115/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1756364871/work
h5py @ file:///home/conda/feedstock_root/build_artifacts/h5py_1756766919943/work
hf-xet==1.3.2
highspy==1.13.1
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_httpcore_1745602916/work
httptools==0.7.1
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1733663348460/work
httpx-sse==0.4.3
huggingface_hub==1.5.0
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
iniconfig==2.3.0
inquirerpy==0.3.4
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1754352855579/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ipython_1756474504/work
ipython_pygments_lexers @ file:///home/conda/feedstock_root/build_artifacts/ipython_pygments_lexers_1737123620466/work
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1746454582739/work
isoduration @ file:///home/conda/feedstock_root/build_artifacts/isoduration_1733493628631/work/dist
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1741263328855/work
jiter==0.12.0
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1756321760188/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1755034879854/work
jsonpatch==1.33
jsonpointer @ file:///home/conda/feedstock_root/build_artifacts/jsonpointer_1756754131677/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jsonschema_1755595646/work
jsonschema-specifications @ file:///tmp/tmptzik3dqa/src
jupyter @ file:///home/conda/feedstock_root/build_artifacts/jupyter_1733818543322/work
jupyter-console @ file:///home/conda/feedstock_root/build_artifacts/jupyter_console_1733817997778/work
jupyter-events @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_events_1738765986/work
jupyter-lsp @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter-lsp_1756388269/work/jupyter-lsp
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1733440914442/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1748333051527/work
jupyter_server @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_server_1755870522/work
jupyter_server_terminals @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_terminals_1733427956852/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1756911582509/work
jupyterlab_pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1733328101776/work
jupyterlab_server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1733599573484/work
jupyterlab_widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1746450771080/work
keras @ file:///home/conda/feedstock_root/build_artifacts/keras_1755182020562/work
kiwisolver==1.4.9
kombu==5.5.4
langchain==1.0.5
langchain-classic==1.0.0
langchain-community==0.4.1
langchain-core==1.0.4
langchain-huggingface==1.0.1
langchain-text-splitters==1.0.0
langcodes @ file:///home/conda/feedstock_root/build_artifacts/langcodes_1734376437639/work
langfuse==3.11.2
langgraph==1.0.3
langgraph-checkpoint==3.0.1
langgraph-prebuilt==1.0.2
langgraph-sdk==0.2.9
langsmith==0.4.42
language_data @ file:///home/conda/feedstock_root/build_artifacts/language-data_1732032415021/work
lark @ file:///home/conda/feedstock_root/build_artifacts/lark_1734709323538/work
libclang==18.1.1
lightgbm==4.6.0
linkify-it-py==2.0.3
llvmlite==0.46.0
lz4==4.4.5
marisa-trie @ file:///home/conda/feedstock_root/build_artifacts/marisa-trie_1736178993286/work
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1757093412127/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1754951200865/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1733219680183/work
marshmallow==3.26.1
matplotlib==3.10.8
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1733416936468/work
mdit-py-plugins==0.5.0
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
memray==1.19.1
mistune @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_mistune_1756495311/work
ml_dtypes==0.5.3
momentchi2==0.1.8
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1733302684489/work
msgpack==1.1.2
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1751310558090/work
multiprocess @ file:///home/conda/feedstock_root/build_artifacts/multiprocess_1724954612691/work
murmurhash @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_murmurhash_1756660159/work
mypy_extensions==1.1.0
namex @ file:///home/conda/feedstock_root/build_artifacts/namex_1748346368839/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1734628800805/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_nbconvert-core_1738067871/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1733402752141/work
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1749078300/work
nltk @ file:///home/conda/feedstock_root/build_artifacts/nltk_1734309924703/work
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1754403910043/work
notebook_shim @ file:///home/conda/feedstock_root/build_artifacts/notebook-shim_1733408315203/work
numba==0.64.0
numpy==2.4.2
ollama==0.6.1
openai==2.14.0
opencensus==0.11.4
opencensus-context==0.1.3
opentelemetry-api==1.39.1
opentelemetry-exporter-otlp-proto-common==1.39.1
opentelemetry-exporter-otlp-proto-http==1.39.1
opentelemetry-exporter-prometheus==0.59b0
opentelemetry-proto==1.39.1
opentelemetry-sdk==1.39.1
opentelemetry-semantic-conventions==0.60b1
opt_einsum @ file:///home/conda/feedstock_root/build_artifacts/opt_einsum_1733687912731/work
optree @ file:///home/conda/feedstock_root/build_artifacts/optree_1756812166263/work
orjson==3.11.4
ormsgpack==1.7.0
osqp==1.1.1
overrides @ file:///home/conda/feedstock_root/build_artifacts/overrides_1734587627321/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas==3.0.1
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
parso @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_parso_1755974222/work
patsy==1.0.2
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
pfzy==0.3.4
pgmpy==1.0.0
pgvector==0.4.2
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pillow_1758208668/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1756227402/work
pluggy==1.6.0
preshed @ file:///home/conda/feedstock_root/build_artifacts/preshed_1728945654191/work
prometheus_client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1758278110859/work
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1756321756983/work
propcache @ file:///home/conda/feedstock_root/build_artifacts/propcache_1744524942571/work
proto-plus==1.26.1
protobuf @ file:///home/conda/feedstock_root/build_artifacts/protobuf_1731365434574/work/bazel-bin/python/dist/protobuf-5.28.3-cp311-abi3-linux_x86_64.whl#sha256=f6a8e1d66bb843c9893be007e2c945bddf04410341fae91550ab151c6e99035a
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1758169152457/work
psycopg==3.3.2
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=92c32ff62b5fd8cf325bec5ab90d7be3d2a8ca8c8a3813ff487a8d2002630d1f
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
py-spy==0.4.1
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybind11 @ file:///D:/bld/bld/rattler-build_pybind11_1755953378/work
pybind11-global @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pybind11-global_1755953338/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1757881615017/work
pydantic-settings==2.12.0
pydantic_core @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pydantic-core_1746625319/work
pydot==4.0.1
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1750615794071/work
pyOpenSSL==25.3.0
pyparsing==3.3.2
pyplom==2.0.1
pyro-api==0.1.2
pyro-ppl==1.9.1
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
pytest==9.0.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-dotenv==1.2.1
python-json-logger @ file:///home/conda/feedstock_root/build_artifacts/python-json-logger_1677079630776/work
python-multipart==0.0.21
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1737454647378/work
pyzmq @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyzmq_1757387012/work
ray==2.51.1
referencing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_referencing_1737836872/work
regex @ file:///home/conda/feedstock_root/build_artifacts/regex_1758258611412/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1755614211359/work
requests-toolbelt==1.0.0
revtok @ file:///home/conda/feedstock_root/build_artifacts/revtok_1735453259695/work
rfc3339_validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3339-validator_1733599910982/work
rfc3986-validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3986-validator_1598024191506/work
rfc3987-syntax @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rfc3987-syntax_1752876729/work
rich==14.2.0
rpds-py @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rpds-py_1756737832/work
rsa==4.9.1
sacremoses @ file:///home/conda/feedstock_root/build_artifacts/sacremoses_1651557636210/work
safetensors @ file:///home/conda/feedstock_root/build_artifacts/safetensors_1756440403595/work
scikit-learn==1.8.0
scipy==1.15.3
scs==3.2.11
seaborn==0.13.2
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1733322040660/work
sentence-transformers==5.2.3
shap==0.50.0
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1733300899265/work
shtab @ file:///home/conda/feedstock_root/build_artifacts/shtab_1744494072266/work
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
slicer==0.0.8
smart_open @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_smart_open_1757369473/work/dist
smmap==5.0.2
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1733244044561/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1756330469801/work
spacy @ file:///home/conda/feedstock_root/build_artifacts/spacy_1751804045934/work
spacy-legacy @ file:///home/conda/feedstock_root/build_artifacts/spacy-legacy_1674550301837/work
spacy-loggers @ file:///home/conda/feedstock_root/build_artifacts/spacy-loggers_1694527114282/work
SQLAlchemy==2.0.44
srsly @ file:///home/conda/feedstock_root/build_artifacts/srsly_1740609637759/work
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
starlette==0.49.3
statsmodels==0.14.6
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1745946051654/work
tabulate==0.10.0
tenacity==9.1.2
tensorboard==2.20.0
tensorboard_data_server @ file:///home/conda/feedstock_root/build_artifacts/tensorboard-data-server_1728639725131/work/tensorboard_data_server-0.7.0-py3-none-manylinux2014_x86_64.whl#sha256=dfb25fedae16e4b9569f95f3100503b292c7118e1b0e3f151c0f09b269563a86
tensorboardX==2.6.4
tensorflow==2.18.0
tensorflow-probability @ file:///home/conda/feedstock_root/build_artifacts/tensorflow-probability_1740058780275/work/tensorflow_probability-0.25.0-py2.py3-none-any.whl#sha256=f3f4d6431656c0122906888afe1b67b4400e82bd7f254b45b92e6c5b84ea8e3e
tensorflow_estimator @ file:///home/conda/feedstock_root/build_artifacts/tensorflow-split_1757518537964/work/tensorflow-estimator/wheel_dir3.11/tensorflow_estimator-2.15.0-py2.py3-none-any.whl#sha256=225a4863ea2d09df1029fda550458d33c0f5a4c815de735b7e57a2a4bbdc3f28
termcolor @ file:///home/conda/feedstock_root/build_artifacts/termcolor_1746039537955/work
terminado @ file:///home/conda/feedstock_root/build_artifacts/terminado_1710262609923/work
textual==6.6.0
tf_keras==2.20.1
thinc @ file:///home/conda/feedstock_root/build_artifacts/thinc_1751798540710/work
threadpoolctl==3.6.0
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/tinycss2_1729802851396/work
tokenizers @ file:///home/conda/feedstock_root/build_artifacts/tokenizers_1758298060396/work/bindings/python
tomli @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tomli_1753796677/work
torch @ file:///home/conda/feedstock_root/build_artifacts/libtorch_1739474892959/work
torchaudio @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_torchaudio_1745964368/work
torchtext @ file:///home/conda/feedstock_root/build_artifacts/torchtext_1742952287930/work
torchvision @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_torchvision_1742619225/work
torchvision-extra-decoders @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_torchvision-extra-decoders_1739805887/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1756854923821/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
transformers==5.3.0
trl @ file:///home/conda/feedstock_root/build_artifacts/trl_1757536439947/work
typeguard @ file:///home/conda/feedstock_root/build_artifacts/typeguard_1750249156801/work
typer==0.17.4
typer-slim==0.17.4
types-python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/types-python-dateutil_1755865529509/work
typing-inspect==0.9.0
typing-inspection @ file:///home/conda/feedstock_root/build_artifacts/typing-inspection_1747870647094/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
typing_utils @ file:///home/conda/feedstock_root/build_artifacts/typing_utils_1733331286120/work
tyro @ file:///home/conda/feedstock_root/build_artifacts/tyro_1758249431179/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1742745135198/work
uc-micro-py==1.0.3
ujson @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ujson_1756674057/work
uri-template @ file:///home/conda/feedstock_root/build_artifacts/uri-template_1733323593477/work/dist
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1750271362675/work
uvicorn==0.38.0
uvloop==0.22.1
vine==5.1.0
virtualenv==20.35.4
wasabi @ file:///home/conda/feedstock_root/build_artifacts/wasabi_1740630716360/work
watchfiles==1.1.1
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1733231326287/work
weasel @ file:///home/conda/feedstock_root/build_artifacts/weasel_1734270156651/work
webcolors @ file:///home/conda/feedstock_root/build_artifacts/webcolors_1733359735138/work
webencodings @ file:///home/conda/feedstock_root/build_artifacts/webencodings_1733236011802/work
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1733157342724/work
websockets==15.0.1
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1733160440960/work
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1744291053367/work
wrapt @ file:///home/conda/feedstock_root/build_artifacts/wrapt_1756851624575/work
xxhash @ file:///home/conda/feedstock_root/build_artifacts/python-xxhash_1755841861350/work
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1749554822108/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1749421620841/work
zstandard==0.25.0
